<template>
  <h1>User Information:</h1>
  <h2>You are logged in as{{ parsedData.email }}</h2>
  <p>Full name: {{ parsedData.name }}</p>
  <p>username: {{ parsedData.preferred_username }}</p>
</template>

<script>
export default {
  computed: {
    keycloakInstance() {
      return this.$store.state.keycloak;
    },
    parsedData() {
      return this.keycloakInstance.tokenParsed;
    },
  },
};
</script>

<style>
</style>