<template>
  <div>
    <div id="nav">
      <router-link to="/">Home</router-link> -
      <router-link to="/user-details">User Details</router-link>
    </div>
    <br />
    <button @click="keycloak.logout">Logout</button>
    <router-view />
  </div>
</template>

<script>
export default {
  props: ["keycloak"],
  mounted() {
    this.$store.commit("setKeycloak", this.keycloak);
    console.log(this.keycloak);
  },
  name: "App",
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
